# Python Basics

## Variables

In [9]:
temp = 2

In [2]:
print(temp)

2

## Arithmetic Operations

In [12]:
a = 100
b = 200
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)
print(a ** b)

300
-100
20000
0.5
0
100
10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [14]:
a+b

300

In [17]:
print(Out)

{13: 300, 14: 300}

## String Operations

In [20]:
doit = "Just Do It."
len(doit)

11

In [21]:
doit[4]

' '

In [22]:
dreams = "Make your dreams come true!"
doit+dreams

'Just Do It.Make your dreams come true!'

In [25]:
thedoitguy = [doit, dreams]
' '.join(thedoitguy)

'Just Do It. Make your dreams come true!'

In [27]:
doit[0:4] # 0th index to 4th index

'Just'

## Get User Input

In [30]:
a = input("you: ")

you: are a girl

In [31]:
b = input("i: ")

i: am a boy

In [33]:
"I "+b+", You "+a+"."

'I am a boy, You are a girl.'

## Parsing Input

In [35]:
# Comma Seperated Values
"ang, gi, mo, tti".split(",")

['ang', ' gi', ' mo', ' tti']

## Formatted Output

In [36]:
print("%d %5d %05d" % (123, 123, 123))

123   123 00123

In [37]:
"{}, {} {}".format("Hello","You are","a girl")

'Hello, You are a girl'

## Python Data Structures

- List: Similar to Array
- Tuple: Read-only Array
- Dictionary: JSON

### List

In [77]:
theList = list()

In [78]:
theList

[]

In [79]:
theList = [1,2,3,4]

In [80]:
theList

[1, 2, 3, 4]

In [81]:
theList[2]

3

In [82]:
theList[0:2]

[1, 2]

In [83]:
theList[0] = "one"

In [84]:
theList

['one', 2, 3, 4]

In [85]:
theList[0] = 1

In [86]:
theList.append(5)
theList

[1, 2, 3, 4, 5]

In [87]:
del theList[4]
theList

[1, 2, 3, 4]

In [88]:
theList.extend([5,6,7,8])
theList

[1, 2, 3, 4, 5, 6, 7, 8]

In [89]:
del theList[4:8]

In [90]:
theList+[5,6,7,8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [94]:
theList = [1,2,4,3,5,7,6,8]
theList.sort()
theList

[1, 2, 3, 4, 5, 6, 7, 8]

In [96]:
theList.sort(reverse = True)
theList

[8, 7, 6, 5, 4, 3, 2, 1]

In [100]:
len(theList)

8

In [97]:
sorted(theList)

[1, 2, 3, 4, 5, 6, 7, 8]

In [99]:
theList.reverse()
theList

[8, 7, 6, 5, 4, 3, 2, 1]

### Tuple

In [101]:
theTuple = (1,2,3,4)

In [109]:
try:
    theTuple[0] = 2 # Invalid, It's Read Only
except:
    print("expected")

expected

In [110]:
theList = list(theTuple)
theList

[1, 2, 3, 4]

### Dictionary

In [113]:
theDictionary = { "itsthe":"Nutshack", "stars":0, "comments":"worst show ever" }

In [114]:
theDictionary

{'itsthe': 'Nutshack', 'stars': 0, 'comments': 'worst show ever'}

In [115]:
theDictionary['itsthe']

'Nutshack'

In [120]:
# To dictionary format
theDictionaryList = [['itsthe', 'Nutshack'], ['stars',0], ['comments','worst show ever']]
theDictionary = dict(theDictionaryList)
theDictionary

{'itsthe': 'Nutshack', 'stars': 0, 'comments': 'worst show ever'}

In [122]:
helloZitoHello = {1:["Hello", "Zito", "Hello"], 2:["My","name","is","Minsu"], 3:["My","name","is","Mina"]}
helloZitoHello

{1: ['Hello', 'Zito', 'Hello'],
 2: ['My', 'name', 'is', 'Minsu'],
 3: ['My', 'name', 'is', 'Mina']}

In [123]:
helloZitoHello[1]

['Hello', 'Zito', 'Hello']

In [124]:
helloZitoHello.get(2)

['My', 'name', 'is', 'Minsu']

In [131]:
theDictionary.update(helloZitoHello)
theDictionary

{'itsthe': 'Nutshack',
 'stars': 0,
 'comments': 'worst show ever',
 2: ['My', 'name', 'is', 'Minsu'],
 3: ['My', 'name', 'is', 'Mina'],
 1: ['Hello', 'Zito', 'Hello']}

In [133]:
del theDictionary[1]
theDictionary

{'itsthe': 'Nutshack',
 'stars': 0,
 'comments': 'worst show ever',
 2: ['My', 'name', 'is', 'Minsu'],
 3: ['My', 'name', 'is', 'Mina']}

### Type Check

In [111]:
type(theList)

list

In [112]:
type(theTuple)

tuple

In [134]:
type(True)

bool

In [135]:
type(100)

int

## Logical Operators

In [136]:
print(100 == 100)

True

In [137]:
print(100 != 100)

False

## If-Else Statements

In [138]:
show = input("What is the name of the show? ")
if show.lower() == "nutshack":
    print("It's the nutshack")
else:
    print("Phew")

What is the name of the show? nutShack
It's the nutshack

## If-Else If Statements

In [139]:
if show.lower() == "nutshack":
    print("BUUUUUUURP")
elif show.lower() == "rick and morty":
    print("I am pickle RIIIIIIIIIIICK")
else:
    print("Jerry, You are too boring")

BUUUUUUURP

## For Statements

In [141]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [143]:
stuff = ['hello', 'zito', 'hello']
for i in stuff:
    print(i)

hello
zito
hello

In [145]:
dictionary = { 'dictionary_attack': 'an attempted illegal entry to a computer system that uses a dictionary headword list to generate possible passwords.',
               'anggimotti': 'anggimotti'}
for i in dictionary.keys():
    print(i)
    
print("=======")
for i in dictionary.values():
    print(i)

dictionary_attack
anggimotti
=======
an attempted illegal entry to a computer system that uses a dictionary headword list to generate possible passwords.
anggimotti

In [146]:
for i in dictionary.items():
    print(i)

('dictionary_attack', 'an attempted illegal entry to a computer system that uses a dictionary headword list to generate possible passwords.')
('anggimotti', 'anggimotti')

## Data R/W

In [154]:
file = open("fruit.txt", "wt")
screamingSun = {"actor":"Dan Harmon", "script":"AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHH"}
for item in screamingSun.items():
    print(item, file=file)
file.close()

## CSV R/W

In [155]:
import csv
with open("fruit.csv", "w", newline="") as file:
    writer = csv.writer(file, delimiter=',')
    for item in screamingSun.items():
        writer.writerow(list(item))

In [158]:
file = open("fruit.csv", "r")
csvRead = csv.reader(file)

theScreamingSun = []
for i in csvRead:
    theScreamingSun.append(i)

In [159]:
theScreamingSun

[['actor', 'Dan Harmon'],
 ['script', 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHHHH']]