# Data Analysis and Visualization
  
Topic: Create good derived variables

## Pandas

developed based on Numpy, usually applied in applications which uses Numpy.

### Installing Numpy and Pandas

In [49]:
!pip install pandas numpy || pip3 install pandas numpy

/bin/sh: pip: command not found
Requirement already satisfied: pandas in /usr/local/lib/python3.7/site-packages (0.24.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/site-packages (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.7/site-packages (from pandas) (2019.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

### Importing Pandas

In [50]:
import pandas as pd

## Data Structures of Pandas

- Series - similar to Arrays of PHP
- DataFrame - Dictionary data as Matrices (More like relational database)

### 1. Series

In [51]:
fruit = pd.Series([1000,2000,3000,4000], index=['apple','banana','peer','cherry'])
fruit

apple     1000
banana    2000
peer      3000
cherry    4000
dtype: int64

In [52]:
fruit.values

array([1000, 2000, 3000, 4000])

In [53]:
fruit.index

Index(['apple', 'banana', 'peer', 'cherry'], dtype='object')

#### Broadcasting

In [73]:
fruit * 2 # broadcast * 2 operators on every single rows

fruitName
apple     2000
banana    4000
peer      6000
cherry    8000
Name: fruitPrice, dtype: int64

#### Masking Data

In [71]:
fruit>2000

fruitName
apple     False
banana    False
peer       True
cherry     True
Name: fruitPrice, dtype: bool

In [70]:
fruit[fruit > 2000]

fruitName
peer      3000
cherry    4000
Name: fruitPrice, dtype: int64

#### Differences between Series and Dictionary

In [54]:
fruitD = { 'apple': 1000, 'banana':2000, 'peer':3000, 'cherry':4000 }
fruitD

{'apple': 1000, 'banana': 2000, 'peer': 3000, 'cherry': 4000}

In [55]:
type(fruitD)

dict

In [56]:
type(fruit)

pandas.core.series.Series

#### Set Property of Series

In [57]:
fruit.name = "fruitPrice"

In [58]:
fruit.index.name = "fruitName"

In [59]:
fruit

fruitName
apple     1000
banana    2000
peer      3000
cherry    4000
Name: fruitPrice, dtype: int64

#### Conversion: Dictionary to Series

In [77]:
dict_a = {
    "name": "Gil-dong Hong",
    "job": "Medical Service",
    "hobby": "Artificial Intelligence",
    "cons": None
}

dict_a_series = pd.Series(dict_a)
dict_a_series

name               Gil-dong Hong
job              Medical Service
hobby    Artificial Intelligence
cons                        None
dtype: object

In [78]:
dict_a_series['name']

'Gil-dong Hong'

In [79]:
dict_a_series['name'] = "Gildong Hong"
dict_a_series['name']

'Gildong Hong'

#### is data is NULL?
isnull()

In [80]:
dict_a_series.isnull()

name     False
job      False
hobby    False
cons      True
dtype: bool

#### Fill Data with N/A
fillna()

In [83]:
dict_a_series[dict_a_series.isnull()]

cons    None
dtype: object

In [86]:
dict_a_series_filled = dict_a_series_filled.fillna("")

In [87]:
dict_a_series_filled

name                Gildong Hong
job              Medical Service
hobby    Artificial Intelligence
cons
dtype: object

#### NULL Data Removal
dropna()

In [90]:
dict_a_series.dropna()

name                Gildong Hong
job              Medical Service
hobby    Artificial Intelligence
dtype: object

### 2. DataFrame

In [60]:
fruitData = {"fruitName": ['apple','banana','cherry','grape'],
             "fruitPrice": [1000, 800, 2000, 1700],
             "quantity": [10, 20, 15, 18]}
fruitData

{'fruitName': ['apple', 'banana', 'cherry', 'grape'],
 'fruitPrice': [1000, 800, 2000, 1700],
 'quantity': [10, 20, 15, 18]}

In [61]:
fruitFrame = pd.DataFrame(fruitData)
fruitFrame

  fruitName  fruitPrice  quantity
0     apple        1000        10
1    banana         800        20
2    cherry        2000        15
3     grape        1700        18

In [62]:
fruitFrame['fruitName']

0     apple
1    banana
2    cherry
3     grape
Name: fruitName, dtype: object

In [63]:
fruitFrame.fruitName

0     apple
1    banana
2    cherry
3     grape
Name: fruitName, dtype: object

In [64]:
fruitFrame['year'] = 2019
fruitFrame

  fruitName  fruitPrice  quantity  year
0     apple        1000        10  2019
1    banana         800        20  2019
2    cherry        2000        15  2019
3     grape        1700        18  2019

In [65]:
del fruitFrame['year']
fruitFrame

  fruitName  fruitPrice  quantity
0     apple        1000        10
1    banana         800        20
2    cherry        2000        15
3     grape        1700        18

In [66]:
fruitFrame.index = ['a','b','c','g']
fruitFrame

  fruitName  fruitPrice  quantity
a     apple        1000        10
b    banana         800        20
c    cherry        2000        15
g     grape        1700        18